*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f4f6f8;
}

/* LAYOUT */
.layout{
    display:flex;
    height:100vh;
}

/* SIDEBAR */
.sidebar{
    width:220px;
    background:#00695c;
    color:white;
    padding:20px;
}

.sidebar h2{
    margin-bottom:30px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px 0;
}

.sidebar a:hover{
    color:#90ee90;
}

/* MAIN */
.main{
    flex:1;
    padding:20px;
}

/* TOP BAR */
.topbar{
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
}

/* CARDS */
.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
    margin-bottom:20px;
}

.card{
    background:white;
    padding:20px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

.card h3{
    color:#00695c;
    font-size:28px;
}

/* TABLE */
.table-box{
    background:white;
    padding:20px;
    border-radius:10px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:10px;
}

th,td{
    padding:12px;
    border-bottom:1px solid #ddd;
    text-align:left;
}

th{
    background:#00695c;
    color:white;
}