<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='auth.css') }}">
</head>
<body>

<header class="header">

    <div class="logo">
        ♻ Smart Waste Management
    </div>

    <nav class="nav-links">
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/contact">Contact</a>
    </nav>

</header>

<div class="container">

    <div class="form-card">

        <h2>Contact Us</h2>

        <p><strong>Email:</strong> support@wastemanagement.com</p>

        <p><strong>Phone:</strong> +91 9876543210</p>

        <p><strong>Address:</strong> Bhopal, Madhya Pradesh, India</p>

        <br>

        <a href="/" class="back-btn">Back Home</a>

    </div>

</div>

</body>
</html>